{% extends 'base.html.twig' %}

{% block title %}Ajouter une tâche{% endblock %}

{% block body %}
<turbo-frame id="id-account">
    <section>
        <div>
          <section>
            <div>
              <h2>
                Inscrivez-vous !
              </h2>
              <p>
                Merci de remplir l'intégralité du formulaire afin de pouvoir vous inscrire à notre super site !
              </p>
            </div>
          </section>
          <main>
            <div>
              {{ form_start(form) }}
              
                <div>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                
                <div>
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
                
                <div>
                    {{ form_label(form.createdAt) }}
                    {{ form_widget(form.createdAt) }}
                </div>
                
                <div>
                    {{ form_label(form.expiredAt) }}
                    {{ form_widget(form.expiredAt) }}
                </div>
                
                <div class="mt-4">
                    {{ form_rest(form) }}
                    <button>
                        Inscription
                    </button>
                </div>

              {{ form_end(form) }}
            </div>
          </main>
        </div>
    </section>
</turbo-frame>
{% endblock %}